.pl {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 100px;
}

.pl-text {
  width: 65%;
}

.pl-header {
  font-size: 50px;
  font-weight: 600;
}

.pl-desc {
  margin: 20px 0;
}

.pl-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pl-btn {
  display: inline-block;
  margin: 50px 10px 10px 10px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgb(161, 227, 46);
  color: #333;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 2px;
}

.pl-btn:hover {
  background-color: #333;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .pl {
    padding: 10px;
  }

  .pl-text {
    width: 100%;
  }

  .pl-desc {
    display: none;
  }
}
