.about {
  display: flex;
  align-items: center;
  height: 100vh;
}

.about-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.about-right {
  flex: 1;
  height: 90%;
  position: relative;
}

.about-card.bg {
  background-color: #333;
  position: absolute;
  top: 50px;
  left: 50px;
}

.about-card {
  width: 70%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-title {
  font-weight: 600;
  text-align: center;
}

.about-title.sub {
  font-weight: 400;
  margin-top: 20px;
  text-align: left;
}

.about-sub {
  margin-right: 50px;
  text-align: justify;
}

.about-desc {
  font-weight: 300;
}

.about p {
  line-height: 1.5em;
  font-size: large;
}

.about-btn {
  display: inline-block;
  margin-top: 50px;
  padding: 5px 10px;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-btn a {
  padding: 20px;
  text-decoration: none;
}

.about-btn a:hover {
  color: blue;
}

@media screen and (max-width: 480px) {
  .about {
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  }

  .about-left {
    width: 100%;
  }

  .about-card {
    height: 30vh;
  }

  .about-card.bg {
    display: none;
  }

  .about-right {
    padding: 20px;
  }
}
