.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(185, 247, 185);
  display: flex;
  z-index: 5;
}

.logo {
  position: relative;
}

.logo img {
  margin: 5px 30px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  z-index: 10;
}

.primary-nav {
  display: flex;
  position: absolute;
  top: 0;
  right: 50px;
}

.ul-list {
  background-color: rgb(185, 247, 185);
}

.primary-nav li { 
  display: inline-block;
  margin: 20px;
  color: #333;
  font-size: 16pt;
}

.primary-nav a {
  background-color: rgb(185, 247, 185);
  text-decoration: none;
  padding-bottom: 5px;
  -webkit-transition: border 50ms linear;
  -moz-transition: border 50ms linear;
  -o-transition: border 50ms linear;
  -ms-transition: border 50ms linear;
  transition: border 50ms linear;
}

.primary-nav a:hover {
  color: blue;
}
