.navbar-container {
  background-color: rgb(185, 247, 185);
}
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(185, 247, 185);
  display: flex;
  z-index: 10;
}

.logo {
  background-color: rgb(185, 247, 185);
}

.logo img {
  /* max-width: 90px; */
  /* margin: 10px 0 0 50px; */
  margin: 0 20px;
  background-color: rgb(185, 247, 185);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.primary-nav {
  display: flex;
  position: absolute;
  top: 0;
  right: 50px;
  background-color: rgb(185, 247, 185);
}

.primary-nav li {
  display: inline-block;
  margin: 20px;
  color: #333;
  font-size: 16pt;
}

.primary-nav a {
  text-decoration: none;
  padding-bottom: 5px;
  -webkit-transition: border 50ms linear;
  -moz-transition: border 50ms linear;
  -o-transition: border 50ms linear;
  -ms-transition: border 50ms linear;
  transition: border 50ms linear;
}

.primary-nav a:hover {
  color: blue;
}
