.navbar {
  width: 100%;
  height: 80px;
  /* background-color: rgba(244, 169, 180, 0.5); */
  display: flex;
  z-index: 5;
  align-items: center;
  position: relative;
}

.logo img {
  margin: 5px 30px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 44.5%;
  bottom: 46%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 20px;
  left: 50%;
  right: 50%;
  bottom: 0;
  background-color: #e96224;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #000;
}
input:focus + .slider {
  box-shadow: 0 0 1px #000;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.primary-nav {
  display: flex;
  position: absolute;
  /* top: 0; */
  right: 50px;
  align-items: center;
  font-size: 24px; 
}


.me-auto {
  padding: 10px 30px;
}



/* .ul-list {
  display: flex;
  align-items: center;
  background-color: rgba(161, 227, 46, .7);
}

.primary-nav li { 
  display: inline-block;
  margin: 20px;
  color: #333;
  font-size: 16pt;
}

.primary-nav a, .primary-nav a:visited {
  color: rgb(60, 61, 60) !important;
  background-color: rgba(161, 227, 46, 0.7);
  text-decoration: none;
  -webkit-transition: border 50ms linear;
  -moz-transition: border 50ms linear;
  -o-transition: border 50ms linear;
  -ms-transition: border 50ms linear;
  transition: border 50ms linear;
}

.primary-nav a:hover {
  color: rgb(255, 0, 162) !important;
} */
