.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -100px;
}


/* .footer-img {
  display: flex;
  padding: 5px 50px;
  margin-top: 10px;
}

.facebook,
.linkedin,
.pinterest,
.email-icon {
  padding: 0 60px;
}

.footer-img img {
  width: 30px;
  height: 30px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.footer ul {
  display: flex;
  background-color: rgba(161, 227, 46, 0.8);
}

.footer li {
  list-style: none;
  padding: 10px;
  background-color: transparent;
} */

/* .footer li a {
  color: rgb(35, 35, 35);
  display: inline-block;
  text-decoration: none;
  margin: 0 50px;
  font-size: 1.2em;
  background-color: transparent;
}

.footer li a:hover {
  color: rgb(255, 0, 162);
} */

.footer-navbar {
  font-size: 20px; 
  font-weight: 500;
}

.copyright {
  text-align: center;
  font-size: 20px;
  font-style: oblique;
  margin-top: -10px;
}
